In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [76]:
data = pd.read_csv('nba.csv')

In [77]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [78]:
data.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
data.shape

(458, 9)

In [80]:
data.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [81]:
data.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [82]:
categorical_cols = ['Name', 'Team', 'Position', 'Height', 'College']
data[categorical_cols] = data[categorical_cols].fillna(data[categorical_cols].mode().iloc[0])
numeric_cols = ['Number', 'Age', 'Weight', 'Salary']
data[numeric_cols] = data[numeric_cols].fillna(data[numeric_cols].mean())

In [83]:
data.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [84]:
summary_statistics = data.groupby('Team')[['Number', 'Age', 'Weight', 'Salary']].agg(['mean', 'median', 'min', 'max', 'std'])
print(summary_statistics)

                           Number                                     Age  \
                             mean median  min   max        std       mean
Team
Atlanta Hawks           19.000000   17.0  0.0  43.0  11.476684  28.200000
Boston Celtics          31.866667   28.0  0.0  99.0  30.300558  24.733333
Brooklyn Nets           18.266667   15.0  0.0  44.0  14.104035  25.600000
Charlotte Hornets       17.133333   12.0  0.0  50.0  16.672761  26.133333
Chicago Bulls           19.200000   16.0  0.0  55.0  17.193022  27.400000
Cleveland Cavaliers     14.466667   12.0  0.0  52.0  13.809245  29.533333
Dallas Mavericks        20.000000   21.0  1.0  50.0  16.252472  29.733333
Denver Nuggets          15.266667    9.0  0.0  77.0  19.655849  25.733333
Detroit Pistons         17.266667   13.0  0.0  50.0  15.303906  26.200000
Golden State Warriors   20.866667   20.0  4.0  40.0  11.413442  27.666667
Houston Rockets         14.666667   12.0  0.0  35.0  12.505237  26.866667
Indiana Pacers          18.933333   13.0  0.0  44.0  15.988686  26.400000
Los Angeles Clippers    19.533333   19.0  3.0  45.0  13.125040  29.466667
Los Angeles Lakers      16.066667    9.0  0.0  50.0  15.285225  27.533333
Memphis Grizzlies       15.555556   10.5  0.0  50.0  14.030313  28.388889
Miami Heat              10.466667    8.0  0.0  40.0  10.377632  28.933333
Milwaukee Bucks         20.000000   17.5  3.0  77.0  17.485232  24.562500
Minnesota Timberwolves  19.571429   13.0  1.0  88.0  21.964007  26.357143
New Orleans Pelicans    17.033917   15.5  0.0  44.0  13.639025  26.896937
New York Knicks         13.250000    8.5  1.0  43.0  12.964053  27.000000
Oklahoma City Thunder   14.000000   11.0  0.0  35.0  12.130246  27.066667
Orlando Magic           16.428571   10.5  0.0  55.0  16.411601  25.071429
Philadelphia 76ers      18.066667   12.0  0.0  42.0  14.660280  24.600000
Phoenix Suns            15.466667   15.0  1.0  35.0  10.405127  25.866667
Portland Trail Blazers  16.000000   11.0  0.0  44.0  13.711309  25.066667
Sacramento Kings        16.933333   15.0  0.0  41.0  12.002777  26.800000
San Antonio Spurs       17.933333   17.0  1.0  40.0  11.067757  31.600000
Toronto Raptors         22.466667   10.0  1.0  92.0  25.856380  26.133333
Utah Jazz               17.866667   20.0  2.0  41.0  11.432202  24.466667
Washington Wizards      17.600000   12.0  1.0  90.0  22.610996  27.866667

                                                         Weight                \
                       median   min   max       std        mean median    min
Team
Atlanta Hawks            27.0  22.0  35.0  4.229151  221.266667  225.0  172.0
Boston Celtics           25.0  20.0  29.0  2.840188  219.466667  220.0  180.0
Brooklyn Nets            26.0  21.0  32.0  3.018988  215.600000  216.0  175.0
Charlotte Hornets        27.0  21.0  31.0  3.159265  220.400000  210.0  184.0
Chicago Bulls            27.0  21.0  35.0  4.188419  218.933333  225.0  161.0
Cleveland Cavaliers      30.0  24.0  35.0  4.120795  227.866667  225.0  179.0
Dallas Mavericks         31.0  22.0  37.0  3.712271  227.000000  230.0  185.0
Denver Nuggets           25.0  20.0  36.0  4.742915  217.533333  218.0  175.0
Detroit Pistons          25.0  20.0  36.0  4.443294  222.200000  210.0  172.0
Golden State Warriors    28.0  20.0  33.0  3.848314  224.600000  220.0  175.0
Houston Rockets          27.0  22.0  38.0  4.323799  220.333333  222.0  185.0
Indiana Pacers           27.0  20.0  30.0  3.157757  222.266667  225.0  180.0
Los Angeles Clippers     29.0  23.0  39.0  4.897035  219.733333  225.0  175.0
Los Angeles Lakers       27.0  20.0  37.0  5.289702  227.066667  230.0  175.0
Memphis Grizzlies        28.0  21.0  39.0  5.585052  218.000000  223.0  165.0
Miami Heat               30.0  20.0  36.0  4.861902  218.400000  220.0  165.0
Milwaukee Bucks          24.5  19.0  32.0  3.520772  224.062500  223.5  190.0
Minnesota Timberwolves   25.0  20.0  40.0  5.930458  228.642857  233.5  189.0
New Orleans Pelicans     27.0  23.0  31.0  2.173904  221.026149  220.0  170.0
New York Knicks          26.0  20.0  34.0  4.179314  223.625000  215.0  195.0
Oklahoma City Thunder    26.0  21.0  38.0  4.832430  229.400000  230.0  185.0
Orlando Magic            24.5  20.0  32.0  3.429830  213.357143  214.0  169.0
Philadelphia 76ers       24.0  20.0  37.0  4.563833  222.133333  215.0  175.0
Phoenix Suns             25.0  19.0  33.0  4.240395  218.600000  215.0  175.0
Portland Trail Blazers   24.0  20.0  34.0  3.634491  218.600000  215.0  173.0
Sacramento Kings         27.0  22.0  36.0  3.529468  221.333333  225.0  175.0
San Antonio Spurs        33.0  22.0  40.0  5.766901  223.933333  230.0  185.0
Toronto Raptors          25.0  20.0  36.0  3.961722  221.800000  220.0  190.0
Utah Jazz                24.0  20.0  28.0  2.445599  220.000000  226.0  179.0
Washington Wizards       29.0  20.0  34.0  4.389381  219.000000  218.0  190.0

                                                Salary                \
                          max        std          mean        median
Team
Atlanta Hawks           260.0  25.982045  4.860197e+06  2.854940e+06
Boston Celtics          260.0  25.606547  4.225583e+06  3.425510e+06
Brooklyn Nets           275.0  24.377390  3.501898e+06  1.335480e+06
Charlotte Hornets       289.0  29.908909  5.222728e+06  4.204200e+06
Chicago Bulls           275.0  29.336634  5.785559e+06  2.380440e+06
Cleveland Cavaliers     275.0  27.655706  7.455425e+06  4.950000e+06
Dallas Mavericks        275.0  27.836256  4.746582e+06  3.950313e+06
Denver Nuggets          280.0  26.297384  4.330974e+06  3.000000e+06
Detroit Pistons         279.0  28.899333  4.477884e+06  2.891760e+06
Golden State Warriors   273.0  29.642633  5.924600e+06  3.815000e+06
Houston Rockets         265.0  24.578349  5.018868e+06  2.288205e+06
Indiana Pacers          255.0  25.982045  4.450122e+06  4.000000e+06
Los Angeles Clippers    265.0  28.265240  6.323643e+06  3.110796e+06
Los Angeles Lakers      270.0  30.167311  4.784695e+06  1.724250e+06
Memphis Grizzlies       270.0  30.624865  5.328979e+06  4.842684e+06
Miami Heat              265.0  26.481260  6.146736e+06  2.854940e+06
Milwaukee Bucks         265.0  24.340553  4.350220e+06  2.254167e+06
Minnesota Timberwolves  307.0  30.890893  4.610884e+06  3.049180e+06
New Orleans Pelicans    270.0  25.045495  4.379673e+06  2.943464e+06
New York Knicks         278.0  25.038304  4.581494e+06  2.225421e+06
Oklahoma City Thunder   255.0  22.260792  6.251020e+06  3.344000e+06
Orlando Magic           260.0  30.047673  4.297248e+06  3.956580e+06
Philadelphia 76ers      275.0  27.015516  2.389039e+06  1.074169e+06
Phoenix Suns            260.0  27.218166  4.229676e+06  2.041080e+06
Portland Trail Blazers  265.0  25.178789  3.220121e+06  2.854940e+06
Sacramento Kings        270.0  28.019551  4.778911e+06  3.156600e+06
San Antonio Spurs       290.0  29.711630  5.629516e+06  2.814000e+06
Toronto Raptors         255.0  22.662745  4.741174e+06  2.900000e+06
Utah Jazz               265.0  24.695286  4.204006e+06  2.433333e+06
Washington Wizards      250.0  21.672893  5.088576e+06  4.000000e+06


                              min         max           std
Team
Atlanta Hawks            525093.0  18671659.0  5.194508e+06
Boston Celtics          1148640.0  12000000.0  3.036396e+06
Brooklyn Nets            134215.0  19689000.0  5.317817e+06
Charlotte Hornets        189455.0  13500000.0  4.538601e+06
Chicago Bulls            525093.0  20093064.0  6.251088e+06
Cleveland Cavaliers      111196.0  22970500.0  7.484116e+06
Dallas Mavericks         525093.0  16407500.0  5.030279e+06
Denver Nuggets           258489.0  14000000.0  4.165468e+06
Detroit Pistons          111444.0  16000000.0  4.668478e+06
Golden State Warriors    289755.0  15501000.0  5.664282e+06
Houston Rockets          200600.0  22359364.0  6.414749e+06
Indiana Pacers           211744.0  17120106.0  4.584514e+06
Los Angeles Clippers     111444.0  21468695.0  7.600225e+06
Los Angeles Lakers       525093.0  25000000.0  6.835688e+06
Memphis Grizzlies        700902.0  19688000.0  4.556591e+06
Miami Heat               261894.0  22192730.0  7.285680e+06
Milwaukee Bucks          295327.0  16407500.0  4.875071e+06
Minnesota Timberwolves   947276.0  12700000.0  3.977783e+06
New Orleans Pelicans      55722.0  15514031.0  4.418186e+06
New York Knicks           30888.0  22875000.0  5.952487e+06
Oklahoma City Thunder    222888.0  20158622.0  6.632400e+06
Orlando Magic            845059.0  11250000.0  3.068412e+06
Philadelphia 76ers       525093.0   6500000.0  1.953024e+06
Phoenix Suns              55722.0  13500000.0  5.022561e+06
Portland Trail Blazers   525093.0   8042895.0  2.392741e+06
Sacramento Kings         525093.0  15851950.0  4.701792e+06
San Antonio Spurs        200600.0  19689000.0  6.396804e+06
Toronto Raptors          245177.0  13600000.0  4.195943e+06
Utah Jazz                900000.0  15409570.0  4.467878e+06
Washington Wizards       200600.0  15851950.0  4.869388e+06

In [85]:
summary_statistics = data.groupby('Position')[['Number', 'Age', 'Weight', 'Salary']].agg(['mean', 'median', 'min', 'max', 'std'])
print(summary_statistics)

             Number                                     Age               \
               mean median  min   max        std       mean median   min
Position
C         21.807692   17.0  0.0  92.0  16.662469  27.371795   27.0  20.0
PF        23.570000   21.5  0.0  90.0  20.107918  27.160000   27.0  20.0
PG        10.967391    8.0  0.0  55.0  11.982085  26.847826   26.5  20.0
SF        17.611765   15.0  0.0  99.0  14.904533  26.858824   26.0  20.0
SG        14.880372   11.0  0.0  55.0  11.444109  26.543094   25.0  19.0

                              Weight                                  \
           max       std        mean median    min    max        std
Position
C         40.0  4.156388  254.205128  250.0  220.0  307.0  15.974297
PF        40.0  4.607241  240.430000  240.0  200.0  275.0  12.591688
PG        40.0  4.169314  189.478261  190.0  161.0  220.0  11.422436
SF        38.0  4.386540  221.776471  225.0  175.0  260.0  14.286504
SG        39.0  4.620395  206.830320  210.0  175.0  234.0  12.877991

                Salary
                  mean     median       min         max           std
Position
C         5.967052e+06  3811060.0   83397.0  22359364.0  5.787989e+06
PF        4.570889e+06  3000000.0  111444.0  22192730.0  4.727010e+06
PG        5.067606e+06  3106518.0   55722.0  21468695.0  4.939768e+06
SF        4.857220e+06  2041080.0   30888.0  25000000.0  5.975997e+06
SG        4.042204e+06  2500000.0   55722.0  20000000.0  4.405625e+06

In [86]:
summary_statistics = data.groupby('College')[['Number', 'Age', 'Weight', 'Salary']].agg(['mean', 'median', 'min', 'max', 'std'])
print(summary_statistics)

                     Number                                      Age         \
                       mean median   min   max        std       mean median
College
Alabama           22.333333   15.0   0.0  52.0  26.764404  29.000000   29.0
Arizona           18.076923   19.0   0.0  44.0  12.365689  27.384615   27.0
Arizona State     16.000000   16.0  13.0  19.0   4.242641  27.500000   27.5
Arkansas           3.000000    2.0   2.0   5.0   1.732051  27.333333   27.0
Baylor            13.000000   13.0  13.0  13.0        NaN  25.000000   25.0
...                     ...    ...   ...   ...        ...        ...    ...
Western Michigan  42.000000   42.0  42.0  42.0        NaN  25.000000   25.0
Wichita State     11.000000   11.0  11.0  11.0        NaN  25.000000   25.0
Wisconsin         28.200000   30.0   7.0  44.0  13.608821  25.800000   24.0
Wyoming            7.000000    7.0   7.0   7.0        NaN  23.000000   23.0
Xavier            30.000000   30.0  30.0  30.0        NaN  35.000000   35.0

                                            Weight                       \
                   min   max       std        mean median    min    max
College
Alabama           25.0  33.0  4.000000  216.666667  225.0  198.0  227.0
Arizona           20.0  38.0  5.752369  221.692308  220.0  185.0  255.0
Arizona State     26.0  29.0  2.121320  235.000000  235.0  220.0  250.0
Arkansas          21.0  34.0  6.506407  218.333333  230.0  185.0  240.0
Baylor            25.0  25.0       NaN  240.000000  240.0  240.0  240.0
...                ...   ...       ...         ...    ...    ...    ...
Western Michigan  25.0  25.0       NaN  250.000000  250.0  250.0  250.0
Wichita State     25.0  25.0       NaN  210.000000  210.0  210.0  210.0
Wisconsin         22.0  33.0  4.438468  220.600000  228.0  185.0  240.0
Wyoming           23.0  23.0       NaN  230.000000  230.0  230.0  230.0
Xavier            35.0  35.0       NaN  250.000000  250.0  250.0  250.0

                                   Salary                                    \
                        std          mean     median        min         max
College
Alabama           16.196707  1.421686e+06  1320000.0   845059.0   2100000.0
Arizona           20.005768  3.325948e+06  2841960.0   206192.0  11710456.0
Arizona State     21.213203  7.933941e+06  7933941.0   111444.0  15756438.0
Arkansas          29.297326  2.713180e+06  1391160.0   261894.0   6486486.0
Baylor                  NaN  9.813480e+05   981348.0   981348.0    981348.0
...                     ...           ...        ...        ...         ...
Western Michigan        NaN  8.450590e+05   845059.0   845059.0    845059.0
Wichita State           NaN  8.450590e+05   845059.0   845059.0    845059.0
Wisconsin         21.137644  1.974492e+06  1646400.0   525093.0   4053446.0
Wyoming                 NaN  1.155600e+06  1155600.0  1155600.0   1155600.0
Xavier                  NaN  1.499187e+06  1499187.0  1499187.0   1499187.0


                           std
College
Alabama           6.336200e+05
Arizona           3.325132e+06
Arizona State     1.106268e+07
Arkansas          3.316201e+06
Baylor                     NaN
...                        ...
Western Michigan           NaN
Wichita State              NaN
Wisconsin         1.398229e+06
Wyoming                    NaN
Xavier                     NaN

[118 rows x 20 columns]

In [87]:
data_iris = pd.read_csv('iris.csv')

In [88]:
data_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [89]:
data_iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [90]:
data_iris.shape

(150, 6)

In [91]:
data_iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [92]:
data_iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [93]:
species_counts = data_iris['Species'].value_counts()
print(species_counts)

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [94]:
def species_summary(species_name):
    species_data = data_iris[data_iris['Species'] == species_name]
    print("\nSummary statistics for", species_name, ":\n")
    print(species_data.describe().transpose())

In [95]:
for species in species_counts.index:
    species_summary(species)

Summary statistics for Iris-setosa :

               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Summary statistics for Iris-versicolor :

               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Summary statistics for Iris-virginica :

               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

In [96]:
#THE END